# Python/Django
*.pyc
__pycache__/
music_controller/api/__pycache__/
music_controller/db.sqlite3
*.sqlite3
*.pyc
*.pyo
*.pyd
*.py~

# Static files
/staticfiles/

# Media files
/media/

# Virtual environment
.venv/
venv/
env/

# Ignore secret keys
*.env

# React
music_controller/frontend/node_modules/
build/
